<!-- Footer Start -->
<div class="container-fluid footer position-relative bg-dark text-white-50 mt-5 py-5 px-4 px-lg-5">
  <div class="row g-5 py-5">
    <div class="col-lg-6 pe-lg-5">
      <a href="{{ '/' | relative_url }}" class="navbar-brand">
        <h1 class="display-5 text-primary">{{ site.title }}</h1>
      </a>
      <p>{{ site.footer.description }}</p>
      <p><i class="fa fa-map-marker-alt me-2"></i>{{ site.footer.address }}</p>
      <p><i class="fa fa-phone-alt me-2"></i>{{ site.footer.phone }}</p>
      <p><i class="fa fa-envelope me-2"></i>{{ site.footer.email }}</p>
      <div class="d-flex justify-content-start mt-4">
        {% for s in site.footer.social %}
          <a class="btn btn-square btn-outline-primary rounded-circle me-2" href="{{ s.url }}"><i class="{{ s.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>

    <div class="col-lg-6 ps-lg-5">
      <div class="row g-5">
        <div class="col-sm-6">
          <h4 class="text-light mb-4">Quick Links</h4>
          {% for link in site.footer.quick_links %}
            <a class="btn btn-link" href="{{ link.url | relative_url }}">{{ link.name }}</a>
          {% endfor %}
        </div>
        <div class="col-sm-6">
          <h4 class="text-light mb-4">Popular Links</h4>
          {% for link in site.footer.popular_links %}
            <a class="btn btn-link" href="{{ link.url | relative_url }}">{{ link.name }}</a>
          {% endfor %}
        </div>
        <div class="col-sm-12">
          <h4 class="text-light mb-4">Newsletter</h4>
          <div class="w-100">
            <div class="input-group">
              <input type="text" class="form-control border-0 bg-secondary" style="padding: 20px 30px;" placeholder="Your Email Address">
              <button class="btn btn-primary px-4">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid bg-dark text-white border-top border-secondary px-0">
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="py-4 px-5 text-center text-md-start">
      <p class="mb-0">&copy; <a class="text-primary" href="#">{{ site.footer.copyright }}</a>. All Rights Reserved.</p>
    </div>
    <div class="py-4 px-5 bg-secondary footer-shape position-relative text-center text-md-end">
      <p class="mb-0">Designed by <a class="text-primary fw-bold" href="{{ site.footer.credit.designer_url }}">{{ site.footer.credit.designer }}</a></p>
      Distributed by <a href="{{ site.footer.credit.distributor_url }}" target="_blank">{{ site.footer.credit.distributor }}</a>
    </div>
  </div>
</div>
<!-- Copyright End -->
