<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-3 img-twice position-relative h-100">
          {% for img in site.about.images %}
          <div class="col-6 {% if img.position == 'bottom' %}align-self-end{% endif %}">
            <img class="img-fluid bg-light p-3" src="{{ img.src }}" alt="">
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="h-100">
          <p class="text-primary text-uppercase mb-2">{{ site.about.subtitle }}</p>
          <h1 class="display-6 mb-4">{{ site.about.title }}</h1>
          {% for desc in site.about.description %}
          <p>{{ desc }}</p>
          {% endfor %}
          <div class="row g-2 mb-4">
            {% for feature in site.about.features %}
            <div class="col-sm-6">
              <i class="fa fa-check text-primary me-3"></i>{{ feature }}
            </div>
            {% endfor %}
          </div>
          <a class="btn btn-primary py-3 px-5" href="{{ site.about.button.link }}">{{ site.about.button.text }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
