---
layout: default
title: "{{ site.title }}"
---

<!-- Header Start -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <p class="text-primary text-uppercase mb-2 animated slideInDown">{{ site.hero.subtitle }}</p>
        <h1 class="display-4 mb-3 animated slideInDown">{{ site.hero.title }}</h1>
        <p class="animated slideInDown">{{ site.hero.description }}</p>
        <div class="d-flex align-items-center pt-4 animated slideInDown">
          <a href="{{ site.hero.button_link }}" class="btn btn-primary py-3 px-4 me-5">{{ site.hero.button_text }}</a>
          <button type="button" class="btn-play" data-bs-toggle="modal"
                  data-src="{{ site.hero.video_url }}" data-bs-target="#videoModal">
            <span></span>
          </button>
          <h5 class="ms-4 mb-0 d-none d-sm-block">Play Video</h5>
        </div>
      </div>
      <div class="col-lg-6 animated fadeIn">
        <div class="row g-3">
          {% for img in site.hero.images.left %}
          <div class="col-6 text-end">
            <img class="img-fluid bg-white p-3 w-{{ img.width }}{% if img.mb %} mb-3{% endif %}" src="{{ img.src }}" alt="">
          </div>
          {% endfor %}
          {% for img in site.hero.images.right %}
          <div class="col-6">
            <img class="img-fluid bg-white p-3 w-{{ img.width }}{% if img.mb %} mb-3{% endif %}" src="{{ img.src }}" alt="">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal End -->

{% include homeabout.html %}

<!-- Facts Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="text-primary text-uppercase mb-2">{{ site.facts.subtitle }}</p>
      <h1 class="display-6 mb-5">{{ site.facts.title }}</h1>
    </div>
    <div class="row g-3">
      {% for fact in site.facts.items %}
      <div class="col-lg-4 col-md-6 {% if fact.pt %}pt-lg-5{% endif %} wow fadeInUp" data-wow-delay="{{ fact.delay }}">
        <div class="fact-item bg-light text-center h-100 p-5">
          <h1 class="display-2 text-primary mb-3" data-toggle="counter-up">{{ fact.number }}</h1>
          <h4 class="mb-3">{{ fact.heading }}</h4>
          <span>{{ fact.description }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Facts End -->

<!-- Services Start -->
<div class="container-xxl bg-light py-5 my-5">
  <div class="container py-5">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="text-primary text-uppercase mb-2">{{ site.services.subtitle }}</p>
      <h1 class="display-6 mb-4">{{ site.services.title }}</h1>
    </div>
    <div class="row g-3">
      {% for service in site.services.items %}
      <div class="col-lg-3 col-md-6 {% if service.pt %}pt-lg-5{% endif %} wow fadeInUp" data-wow-delay="{{ service.delay }}">
        <div class="service-item d-flex flex-column bg-white p-3 pb-0">
          <div class="position-relative">
            <img class="img-fluid" src="{{ service.img }}" alt="">
            <div class="service-overlay">
              <a class="btn btn-lg-square btn-outline-light rounded-circle" href="{{ service.link }}">
                <i class="fa fa-link text-primary"></i>
              </a>
            </div>
          </div>
          <div class="text-center p-4">
            <h4>{{ service.name }}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Services End -->

{% include project.html %}
{% include team.html %}
{% include testimonial.html %}
